.payee {
  padding-block: 3rem;
  background-color: var(--gray);
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  .inline-items {
    display: flex;
    justify-content: space-between;

  }
}

.table-container {
  margin-bottom: 3rem;
}